@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html[dir='rtl'] { font-family: 'Tajawal', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }
body { background: #f7f7f9; }
